<div class="container employer-login-form">
  <h1><strong>Employer Login</strong></h1>
  <br>
  <form [formGroup]="employer_form">
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" class="form-control" id="Username"
        placeholder="Enter Username" formControlName="username">
      </div>
    <div class="alert alert-danger my-2" *ngIf="FormControls['username']?.errors?.['required'] && (FormControls['username']?.touched || FormControls['username']?.dirty)">Username cannot be empty!</div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" placeholder="Enter Password"
        formControlName="password">
    </div>
    <div class="alert alert-danger my-2" *ngIf="FormControls['password']?.errors?.['required'] && (FormControls['password']?.touched || FormControls['password']?.dirty)">Password cannot be empty!</div>
    <br>
    <button type="submit" class="black-white-button-small" (click)="employerLogin()">Login</button>
    <br>
    <small id="emailHelp" class="form-text text-muted">Login to an already exisitng account.</small>
    <br><br>
    <button type="submit" class="black-white-button-small" (click)="employerRegistration()">Create an account</button>
    <br>
    <small id="emailHelp" class="form-text text-muted">Or, create a new account by registering.</small>
  </form>
</div>