<div id="navbar" class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <img id="website-logo" [src]="imageSrc" alt="Website Logo" class="d-inline-block align-top" routerLink='./jobs'>
        {{websiteName}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hamburger">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="hamburger">
            <ul class="navbar-nav text-center ms-auto">
                <li>
                    <a class="nav-link" routerLink="./">Dashboard</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="createJob">Create Job</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="reports">Reports</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="employerProfile">Profile</a>
                </li>
                <li>
                    <a class="nav-link logout" (click)="deleteToken()" (click)="routeToLogin()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>