<div class="container footer">
    <div class="row">
        <div class="col-md-3">
            <img id="website-footer-logo" src="../../../assets/website_logo_2.svg" alt="Website Logo">
        </div>
        <div class="col-md-3">
                <li class="footer-links">Facebook</li>
                <li class="footer-links">Instagram</li>
                <li class="footer-links">Twitter</li>
                <li class="footer-links">LinkedIn</li>
        </div>
        <div class="col-md-3">
            <li class="footer-links">About Us</li>
            <li class="footer-links">Contact Us</li>
        </div>
        <div class="col-md-3">
            <p> Find your dream job with us!</p>
        </div>
    </div>
</div>