<div class="container form-container">
    <h1 class="text-center"><strong>User Registration</strong></h1>
    <br>
    <form [formGroup]="user_registration_form">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" id="Username" placeholder="Enter Username" formControlName="username">
            <div class="alert alert-danger my-2" *ngIf="formControls['username']?.errors?.['required'] && (formControls['username']?.touched || formControls['username']?.dirty)">Username cannot be empty!</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['username']?.errors?.['minlength']">Username should be of minimum of 2 characters.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['username']?.errors?.['maxlength']">Username should be of maximum of 10 characters.</div>


            <label for="First Name">First Name</label>
            <input type="text" class="form-control" id="First Name" placeholder="Enter First Name" formControlName="firstName">
            <div class="alert alert-danger my-2" *ngIf="formControls['firstName']?.errors?.['required'] && (formControls['firstName']?.touched || formControls['firstName']?.dirty)">First Name cannot be empty!</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['firstName']?.errors?.['pattern']">First Name can only contain letters</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['firstName']?.errors?.['minlength']">First Name should be of minimum of 2 characters.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['firstName']?.errors?.['maxlength']">First Name should be of maximum of 10 characters.</div>

                
            <label for="Last Name">Last Name</label>
            <input type="text" class="form-control" id="Last Name" placeholder="Enter Last Name" formControlName="lastName">
            <div class="alert alert-danger my-2" *ngIf="formControls['lastName']?.errors?.['required'] && (formControls['lastName']?.touched || formControls['lastName']?.dirty)">Last Name cannot be empty!</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['lastName']?.errors?.['pattern']">Last Name can only contain letters.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['lastName']?.errors?.['minlength']">Last Name should be of minimum of 2 characters.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['lastName']?.errors?.['maxlength']">Last Name should be of maximum of 10 characters.</div>

            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" placeholder="Enter Email" formControlName="email">
            <div class="alert alert-danger my-2" *ngIf="formControls['email']?.errors?.['required'] && (formControls['email']?.touched || formControls['email']?.dirty)">Email cannot be empty!</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['email']?.errors?.['pattern']">Wrong Email format.</div>

            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Enter Password" formControlName="password">
            
            <label for="Phone Number">Phone Number</label>
            <input type="text" class="form-control" id="Phone Number" placeholder="Enter Phone Number" formControlName="phoneNumber">
            <div class="alert alert-danger my-2" *ngIf="formControls['phoneNumber']?.errors?.['required'] && (formControls['phoneNumber']?.touched || formControls['phoneNumber']?.dirty)">Phone Number cannot be empty!</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['phoneNumber']?.errors?.['pattern']">Phone Number can only contain numbers.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['phoneNumber']?.errors?.['minlength']">Phone Number should be of minimum of 10 numbers.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['phoneNumber']?.errors?.['maxlength']">Phone Number should be of maximum of 10 numbers.</div>

            <label for="Alternate Phone Number">Alternate Phone Number</label>
            <input type="text" class="form-control" id="Alternate Phone Number" placeholder="Enter Alternate Phone Number" formControlName="alternatePhoneNumber">
            <div class="alert alert-danger my-2" *ngIf="formControls['alternatePhoneNumber']?.errors?.['pattern']">Alternate Phone Number can only contain numbers.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['alternatePhoneNumber']?.errors?.['minlength']">Alternate Phone Number should be of minimum of 10 numbers.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['alternatePhoneNumber']?.errors?.['maxlength']">Alternate Phone Number should be of maximum of 10 numbers.</div>

            <label for="10th Percentage">10th Percentage</label>
            <input type="text" class="form-control" id="10th Percentage" placeholder="Enter 10th Percentage" formControlName="tenthPercentage">
            <div class="alert alert-danger my-2" *ngIf="formControls['tenthPercentage']?.errors?.['pattern']">Invalid Percentage.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['tenthPercentage']?.errors?.['maxlength']">Round off the Percentage</div>

            <label for="12th Percentag">12th Percentage</label>
            <input type="text" class="form-control" id="12th Percentag" placeholder="Enter 12th Percentage" formControlName="twelthPercentage">
            <div class="alert alert-danger my-2" *ngIf="formControls['twelthPercentage']?.errors?.['pattern']">Invalid Percentage.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['twelthPercentage']?.errors?.['maxlength']">Round off the Percentage</div>

            <label for="Diploma Percentage">Diploma Percentage</label>
            <input type="text" class="form-control" id="Diploma Percentage" placeholder="Enter Diploma Percentage" formControlName="diplomaPercentage">
            <div class="alert alert-danger my-2" *ngIf="formControls['diplomaPercentage']?.errors?.['pattern']">Invalid Percentage.</div>
            <div class="alert alert-danger my-2" *ngIf="formControls['diplomaPercentage']?.errors?.['maxlength']">Round off the Percentage</div>

            <label for="Bachlors Percentage">Bachlors Percentage</label>
            <input type="text" class="form-control" id="Bachlors Percentage" placeholder="Enter Bachlors Percentage" formControlName="bachlorsPercentage">

            <label for="Masters Percentage">Masters Percentage</label>
            <input type="text" class="form-control" id="Masters Percentage" placeholder="Enter Masters Percentage"
                formControlName="mastersPercentage">

            <label for="Doctorate / Ph.D Percentage">Doctorate / Ph.D Percentage</label>
            <input type="text" class="form-control" id="Doctorate / Ph.D Percentage"
                placeholder="Enter Masters Percentage" formControlName="doctoratePhDPercentage">

            <label for="Certification">Certification</label>
            <input type="text" class="form-control" id="Certification" placeholder="Enter Certification"
                formControlName="certification">
        </div>
        <br>
        <button type="submit" class="black-white-button-small" (click)=" userLogin()">Register</button>
    </form>
</div>