<div class="container form-container">
  <h1 class="text-center"><strong>Employer Registration</strong></h1>
  <br>
  <form [formGroup]="employerRegistration">
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" class="form-control" id="Username" placeholder="Enter Username" formControlName="username">

      <label for="Company Name">Company Name</label>
      <input type="text" class="form-control" id="Company Name" placeholder="Enter Company Name"
        formControlName="companyName">

      <label for="Details">Details</label>
      <input type="text" class="form-control" id="Details" placeholder="Enter Company Details"
        formControlName="details">
      
      <label for="Email">Email</label>
      <input type="email" class="form-control" id="Email" placeholder="Enter Email" formControlName="email">
      
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" placeholder="Enter Password" formControlName="password">
      
      <label for="Mobile Number">Phone Number</label>
      <input type="text" class="form-control" id="Mobile Number" placeholder="Enter Phone Number"
        formControlName="phoneNumber">
      
      <label for="Alternate Mobile Number">Alternate Phone Number</label>
      <input type="text" class="form-control" id="Alternate Mobile Number" placeholder="Enter Alternate Phone Number"
        formControlName="alternatePhoneNumber">
      
      <label for="Category">Category</label>
      <input type="text" class="form-control" id="Category" placeholder="Enter Category" formControlName="category">
    </div>
    
    <button type="submit" class="black-white-button-small" (click)="registerEmployer()">Register</button>
  </form>
</div>