<p>demo works!</p>
<h1>User</h1>

<!-- <div class= "container">
  <form [formGroup]="user_form">
      <div class="form-group">
          <label for="First Name">First Name</label>
          <input type="text" class="form-control" id="First Name" placeholder="Enter First Name" formControlName="FirstName">

          <label for="Last Name">Last Name</label>
          <input type="text" class="form-control" id="Last Name" placeholder="Enter Last Name" formControlName="LastName">

          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email" placeholder="Enter Email" formControlName="Email">

          <label for="Password">Password</label>
          <input type="password" class="form-control" id="Password" placeholder="Enter Password" formControlName="Password">

          <label for="Mobile Number">Mobile Number</label>
          <input type="text" class="form-control" id="Mobile Number" placeholder="Enter Mobile Number" formControlName="MobileNumber">

          <label for="Alternate Mobile Number">Alternate Mobile Number</label>
          <input type="text" class="form-control" id="Alternate Mobile Number" placeholder="Enter Alternate Mobile Number" formControlName="AlternateMobileNumber">

          <label for="10th Percentage">10th Percentage</label>
          <input type="text" class="form-control" id="10th Percentage" placeholder="Enter 10th Percentage" formControlName="TenthPercentage">

          <label for="12th Percentag">12th Percentage</label>
          <input type="text" class="form-control" id="12th Percentag" placeholder="Enter 12th Percentage" formControlName="TwelthPercentage">

          <label for="Diploma Percentage">Diploma Percentage</label>
          <input type="text" class="form-control" id="Diploma Percentage" placeholder="Enter Diploma Percentage" formControlName="DiplomaPercentage">

          <label for="Bachlors Percentage">Bachlors Percentage</label>
          <input type="text" class="form-control" id="Bachlors Percentage" placeholder="Enter Bachlors Percentage" formControlName="BachlorsPercentage">

          <label for="Masters Percentage">Masters Percentage</label>
          <input type="text" class="form-control" id="Masters Percentage" placeholder="Enter Masters Percentage" formControlName="MastersPercentage">

          <label for="Doctorate / Ph.D Percentage">Doctorate / Ph.D Percentage</label>
          <input type="text" class="form-control" id="Doctorate / Ph.D Percentage" placeholder="Enter Masters Percentage" formControlName="DoctoratePhDPercentage">

          <label for="Work Status">Work Status</label>
          <input type="text" class="form-control" id="Work Status" placeholder="Enter Enter Work Status" formControlName="WorkStatus">

          <label for="Certification">Certification</label>
          <input type="text" class="form-control" id="Certification" placeholder="Enter Certification" formControlName="Certification">
      </div>
  <button type="submit" class="btn btn-primary submit-button" (click)="addUser()">Submit</button>
  </form>
</div> -->

<br><br><br>

<h1>Employer</h1>

<div class= "container">
  <form [formGroup]="employer_form">
      <div class="form-group">
          <label for="Company Name">Company Name</label>
          <input type="text" class="form-control" id="Company Name" placeholder="Enter Company Name" formControlName="CompanyName">

          <label for="Details">Details</label>
          <input type="text" class="form-control" id="Details" placeholder="Enter Company Details" formControlName="Details">

          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email" placeholder="Enter Email" formControlName="Email">

          <label for="Password">Password</label>
          <input type="password" class="form-control" id="Password" placeholder="Enter Password" formControlName="Password">

          <label for="Mobile Number">Mobile Number</label>
          <input type="text" class="form-control" id="Mobile Number" placeholder="Enter Mobile Number" formControlName="MobileNumber">

          <label for="Alternate Mobile Number">Alternate Mobile Number</label>
          <input type="text" class="form-control" id="Alternate Mobile Number" placeholder="Enter Alternate Mobile Number" formControlName="AlternateMobileNumber">

          <label for="Category">Category</label>
          <input type="text" class="form-control" id="Category" placeholder="Enter Category" formControlName="Category">
      </div>
  <button type="submit" class="btn btn-primary submit-button" (click)="addEmployer()">Submit</button>
  </form>
</div>

<h1>Jobs</h1>

<div class= "container">
  <form [formGroup]="job_form">
      <div class="form-group">
          <label for="Title">Title</label>
          <input type="text" class="form-control" id="Title" placeholder="Enter Title" formControlName="Title">

          <label for="Address">Address</label>
          <input type="text" class="form-control" id="Address" placeholder="Enter Address" formControlName="Address">

          <label for="Description">Description</label>
          <input type="text" class="form-control" id="Description" placeholder="Enter Description" formControlName="Description">

          <label for="PayRange">Pay Range</label>
          <input type="text" class="form-control" id="PayRanges" placeholder="Enter PayRange" formControlName="PayRange">

          <label for="PersonOfContact">Person Of Contact</label>
          <input type="text" class="form-control" id="PersonOfContact" placeholder="Enter PersonOfContact" formControlName="PersonOfContact">

          <label for="Visibility">Visibility</label>
          <input type="text" class="form-control" id="Visibility" placeholder="Enter Job Visibility" formControlName="Visibility">
      </div>
  <button type="submit" class="btn btn-primary submit-button" (click)="addEmployer()">Submit</button>
  </form>
</div>